/* Header */

#logo-key {
    width: 30px;
}

/* Main */

/* Jumbotron Img */

.jumbotron {
    height: 600px;
}

.jumbo-img {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
    url(../img/doberman.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Info */

#info:hover {
    box-shadow: 0 0 0 4px rgb(45,100,231);
    opacity: 0.8;
    cursor: pointer;
}

#info {
    transition: box-shadow 1s;
}

/* Password */








